<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitchat</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="container text-center">
   <h1 classname="text-xl text-green-700">CHIT CHAT</h1>
   <h3>A brilliant chatting application</h3>
 <span class="container text-center col">
        <div class="col-auto">
    <a href="/login" class="btn btn-primary mb-3">Log In</a>
  </div>
  <div class="col-auto">
    <a href="/signin"  class="btn btn-primary mb-3">Sign In</a>
  </div>
  <div class="col-auto">
    <a href="/chat" class="btn btn-primary mb-3">Start Chat</a>
  </div>
 </span>


  
</body>
</html>